<div class="w-full h-full">
  <app-header></app-header>
  <div class="flex bg-white" style="height:600px;">
    <div class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2">
      <div>
        <h2 class="text-3xl font-semibold text-gray-800 md:text-4xl">Proyectando un mejor <span
          class="text-indigo-600">Futuro</span></h2>
        <p class="mt-2 text-sm text-gray-500 md:text-base">Con una mejor experiencia para la presentación de tus
          proyectos, desde la comodidad de tu hogar hacia el mundo</p>
        <div class="flex justify-center lg:justify-start mt-6">
          <button onclick="document.getElementById('myModal').showModal()" id="btn"
                  class="px-4 py-3 bg-gray-300 text-gray-900 text-base font-semibold rounded hover:bg-gray-400">
            Regístrate
          </button>
        </div>

<!--        <div class="items-center justify-center lg:justify-start pt-24">-->
<!--          <p class="text-lg text-gray-700">Patrocinado por:</p>-->
<!--          <div class="mt-2">-->
<!--            <img style="display: inline" width="25%" src="./assets/img/logo-blue.jpg">-->
<!--          </div>-->
<!--        </div>-->

      </div>
    </div>
    <div class="hidden lg:block lg:w-1/2" style="clip-path:polygon(10% 0, 100% 0%, 100% 100%, 0 100%)">
      <div class="h-full object-cover"
           style="background-image: url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80)">
        <div class="h-full bg-black opacity-25"></div>
      </div>
    </div>
  </div>

<!--  <div class="text-center mt-10">-->
<!--    <label class="font-thin text-3xl">Lista de congresos</label>-->
<!--  </div>-->

<!--  <div class="grid md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-3 mb-10 row-gap-5">-->
<!--    <div-->
<!--      class="bg-white overflow-hidden hover:bg-gray-100 border border-gray-200 p-3 m-12">-->
<!--      <div class="m-2 text-sm">-->
<!--        <div class="pb-8">-->
<!--          <h2 class="font-thin text-lg h-2">Ponencias activas - Q&A y debates</h2>-->
<!--        </div>-->
<!--        <div class="mt-5">-->
<!--          <img-->
<!--            src="./assets/img/portada-congreso.png"/>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="text-green-400 w-full text-right mt-4">-->
<!--        <a routerLink="/login"-->
<!--           class="text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium py-2 px-3 md:mx-2 cursor-pointer">Ir-->
<!--          al congreso</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div-->
<!--      class="bg-white overflow-hidden hover:bg-gray-100 border border-gray-200 p-3 m-12">-->
<!--      <div class="m-2 text-sm">-->
<!--        <div class="pb-8">-->
<!--          <h2 class="font-thin text-lg h-2">Networking Games</h2>-->
<!--        </div>-->
<!--        <div class="mt-5">-->
<!--          <img-->
<!--            src="./assets/img/portada-congreso.png"/>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="text-green-400 w-full text-right mt-4">-->
<!--        <a routerLink="/login"-->
<!--           class="text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium py-2 px-3 md:mx-2 cursor-pointer">Ir-->
<!--          al congreso</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div-->
<!--      class="bg-white overflow-hidden hover:bg-gray-100 border border-gray-200 p-3 m-12">-->
<!--      <div class="m-2 text-sm">-->
<!--        <div class="pb-8">-->
<!--          <h2 class="font-thin text-lg h-2">Gamificación con premios y códigos directos al móvil</h2>-->
<!--        </div>-->
<!--        <div class="mt-5">-->
<!--          <img-->
<!--            src="./assets/img/portada-congreso.png"/>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="text-green-400 w-full text-right mt-4">-->
<!--        <a routerLink="/login"-->
<!--           class="text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium py-2 px-3 md:mx-2 cursor-pointer">Ir-->
<!--          al congreso</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>

<!-- MODAL -->
<dialog id="myModal" class="h-auto w-11/12 md:w-1/2 p-5 bg-white rounded-md">
  <div class="flex flex-col w-full h-auto p-3">
    <div class="flex w-full h-auto items-center">
      <div class="flex w-10/12 h-auto py-3 text-xl md:text-2xl ml-5">
        Selecciona el rol que desempeñaras
      </div>
      <div onclick="document.getElementById('myModal').close();"
           class="flex w-1/12 h-auto justify-center cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000"
             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </div>
    </div>
    <div class="w-full h-auto py-10 justify-center items-center text-center">
      <div class="w-full md:w-full px-3 mb-4">
        <button routerLink="/register-assistant"
                class="appearance-none block w-full border border-gray-900 text-gray-900 hover:bg-gray-900 hover:text-gray-100 rounded-lg py-3 px-3 leading-tight focus:outline-none">
          Asistente
        </button>
      </div>
      <div class="w-full md:w-full px-3 mb-4">
        <button routerLink="/register-speaker"
                class="appearance-none block w-full border border-gray-900 text-gray-900 hover:bg-gray-900 hover:text-gray-100 rounded-lg py-3 px-3 leading-tight focus:outline-none">
          Ponente
        </button>
      </div>
      <div class="w-full md:w-full px-3" style="display: none">
        <button routerLink="/register-reviewer"
                class="appearance-none block w-full border border-gray-900 text-gray-900 hover:bg-gray-900 hover:text-gray-100 rounded-lg py-3 px-3 leading-tight focus:outline-none">
          Revisor
        </button>
      </div>
    </div>
  </div>
</dialog>
