<div class="h-screen w-full flex overflow-hidden">

  <app-sidebar></app-sidebar>

  <div class="w-full mx-12 my-2 overflow-auto">
    <h2 class="py-4 text-2xl font-semibold text-gray-800 border-b">
      Lista de Ponentes
    </h2>

    <div class="py-6">
      <div class="inline-block shadow rounded-lg">
        <table>
          <thead>
          <tr>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-sm text-gray-600">
              Usuario
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-sm text-gray-600">
              Núm. de Identificación
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-sm text-gray-600">
              Correo electrónico
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-sm text-gray-600">
              Rol
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-sm text-gray-600">
              Habilitado / Inhabilitado
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users.persons" class="hover:bg-gray-100">
            <td *ngIf="user.rol !== 'Administrador' && user.rol !== 'Organizador' && user.rol !== 'Asistente'"
                class="px-5 py-5 border-b border-gray-200 text-sm">
              <div class="flex items-center">
                <div class="flex-shrink-0 w-10 h-10">
                  <img *ngIf="photo" class="w-full h-full rounded-full" src="" alt=""/>
                  <i *ngIf="!photo" class="fas fa-user text-gray-600 text-4xl"></i>
                </div>
                <div class="ml-3">
                  <p class="text-gray-900">
                    {{user.last_names}} {{user.names}}
                  </p>
                </div>
              </div>
            </td>
            <td *ngIf="user.rol !== 'Administrador' && user.rol !== 'Organizador' && user.rol !== 'Asistente'"
                class="px-5 py-5 border-b border-gray-200 text-sm text-center">
              <p class="text-gray-900">{{user.dni}}</p>
            </td>
            <td *ngIf="user.rol !== 'Administrador' && user.rol !== 'Organizador' && user.rol !== 'Asistente'"
                class="px-5 py-5 border-b border-gray-200 text-sm">
              <p class="text-gray-900">{{user.email}}</p>
            </td>
            <td *ngIf="user.rol !== 'Administrador' && user.rol !== 'Organizador' && user.rol !== 'Asistente'"
                class="px-5 py-5 border-b border-gray-200 text-sm text-center">
              <p class="text-gray-900">
                {{user.rol}}
              </p>
            </td>
            <td *ngIf="user.rol !== 'Administrador' && user.rol !== 'Organizador' && user.rol !== 'Asistente'"
                class="px-5 py-5 border-b border-gray-200 text-sm text-center">
              <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
                <input (click)="disableEnableUser(user._id, user.status = false)" type="checkbox"
                       *ngIf="user.status == true" checked
                       class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none focus:outline-none cursor-pointer"/>
                <input (click)="disableEnableUser(user._id, user.status = true)" type="checkbox"
                       *ngIf="user.status == false"
                       class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none focus:outline-none cursor-pointer"/>
                <label class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300"></label>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
