<div class="h-screen w-full flex overflow-hidden">

  <app-sidebar></app-sidebar>

  <div class="mx-10 my-2 overflow-auto">
    <h2 class="py-4 text-2xl font-semibold text-gray-800 border-b">
      Lista de Usuarios
    </h2>

    <div class="py-6">
      <div class="inline-block shadow rounded-lg">
        <table class="w-full leading-normal">
          <thead>
          <tr>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-sm text-gray-600">
              Usuario
            </th>
            <th
              class="px-1 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-sm text-gray-600">
              Núm. de Identificación
            </th>
            <th
              class="px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-sm text-gray-600">
              Correo electrónico
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-sm text-gray-600">
              Rol
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-sm text-gray-600">
              Estado
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-sm text-gray-600">
              Acciones
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users.persons">
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <div class="flex items-center">
                <div class="flex-shrink-0 w-10 h-10">
                  <img *ngIf="photo" class="w-full h-full rounded-full" src="" alt=""/>
                  <i *ngIf="!photo" class="fas fa-user text-gray-600 text-4xl"></i>
                </div>
                <div class="ml-3">
                  <p class="text-gray-900 whitespace-no-wrap">
                    {{user.last_names}} {{user.names}}
                  </p>
                </div>
              </div>
            </td>
            <td class="px-1 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900">{{user.dni}}</p>
            </td>
            <td class="px-3 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">{{user.email}}</p>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">
                {{user.rol}}
              </p>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <i *ngIf="user.status == true" class="fas fa-check-circle text-green-700 text-1xl">
                Habilitado</i>
              <i *ngIf="user.status == false" class="fas fa-times-circle text-red-700 text-1xl">
                Inhabilitado</i>
            </td>
            <td class="flex px-5 py-8 border-b border-gray-200 bg-white text-sm">
              <button class="appearance-none focus:outline-none">
                <i class="fas fa-pen-square mr-5 text-blue-800 text-xl tooltip">
                  <span
                    class='tooltip-text text-gray-700 p-3 -mt-6 -ml-12 font-medium text-xs rounded font-sans fixed'>Editar usuario</span>
                </i>
              </button>
              <button class="appearance-none focus:outline-none">
                <i class="fas fa-exchange-alt mr-5 text-green-800 text-xl tooltip">
                  <span *ngIf="user.status == true"
                        class='tooltip-text text-gray-700 p-3 -mt-6 -ml-16 font-medium text-xs rounded font-sans'>Inhabilitar usuario</span>
                  <span *ngIf="user.status == false"
                        class='tooltip-text text-gray-700 p-3 -mt-6 -ml-16 font-medium text-xs rounded font-sans'>Habilitar usuario</span>
                </i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
