<app-header></app-header>
<div class="h-screen">
  <div>
    <div class="max-w-3xl mx-auto px-4 pt-10 pb-5">
      <div>
        <div class="py-10">
          <div>
            <div class="mb-5 text-center">
              <div class="mx-auto w-32 h-32 mb-2 border rounded-full relative bg-gray-100 mb-4 shadow-inset">
                <img class="object-cover w-full h-32 rounded-full" src="./assets/img/bg-login.jpg"/>
              </div>
              <label
                class="cursor-pointer inine-flex justify-between items-center focus:outline-none border py-2 px-4 rounded-lg shadow-sm text-left text-gray-600 bg-white hover:bg-gray-100 font-medium">
                <svg xmlns="http://www.w3.org/2000/svg" class="inline-flex flex-shrink-0 w-6 h-6 -mt-1 mr-1"
                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                     stroke-linejoin="round">
                  <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                  <path
                    d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2"/>
                  <circle cx="12" cy="13" r="3"/>
                </svg>
                Subir Foto
              </label>
              <div class="mx-auto w-48 text-gray-500 text-xs text-center mt-2">Click para agregar foto de perfil</div>
              <input name="photo" id="fileInput" accept="image/*" class="hidden" type="file">
            </div>
            <div class="mb-5">
              <label class="font-bold mb-1 text-gray-700 block">Tipo de identificación:</label>
              <select
                class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium">
                <option>Seleccione..</option>
                <option value="Cedula">Cédula</option>
                <option>Pasaporte</option>
              </select>
            </div>
            <div class="mb-5">
              <label class="font-bold mb-1 text-gray-700 block">Número de identificación:</label>
              <input type="text"
                     class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
                     placeholder="Ingrese número de identificación...">
            </div>
            <div class="mb-5">
              <label class="font-bold mb-1 text-gray-700 block">Nombres:</label>
              <input type="text"
                     class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
                     placeholder="Ingrese sus dos nombres...">
            </div>
            <div class="mb-5">
              <label class="font-bold mb-1 text-gray-700 block">Apellidos:</label>
              <input type="text"
                     class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
                     placeholder="Ingrese sus dos apellidos...">
            </div>
            <div class="mb-5">
              <label class="font-bold mb-1 text-gray-700 block">Correo electrónico:</label>
              <input type="email"
                     class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
                     placeholder="Ingrese su correo electrónico...">
            </div>
          </div>
          <div>
            <div class="mb-5">
              <label class="font-bold mb-1 text-gray-700 block">Contraseña:</label>
              <div class="relative">
                <input
                  type="password"
                  [type]="viewPassword ? 'password' : 'text'"
                  class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium"
                  placeholder="Ingrese su contraseña...">
                <div class="absolute right-0 bottom-0 top-0 px-3 py-3 cursor-pointer">
                  <svg (click)="viewPassword = false" *ngIf="viewPassword == true" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current text-gray-500" viewBox="0 0 24 24">
                    <path d="M12,9c-1.642,0-3,1.359-3,3c0,1.642,1.358,3,3,3c1.641,0,3-1.358,3-3C15,10.359,13.641,9,12,9z"/>
                    <path d="M12,5c-7.633,0-9.927,6.617-9.948,6.684L1.946,12l0.105,0.316C2.073,12.383,4.367,19,12,19s9.927-6.617,9.948-6.684 L22.054,12l-0.105-0.316C21.927,11.617,19.633,5,12,5z M12,17c-5.351,0-7.424-3.846-7.926-5C4.578,10.842,6.652,7,12,7 c5.351,0,7.424,3.846,7.926,5C19.422,13.158,17.348,17,12,17z"/>
                  </svg>
                  <svg (click)="viewPassword = true" *ngIf="viewPassword == false" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current text-gray-500" viewBox="0 0 24 24">
                    <path d="M12 19c.946 0 1.81-.103 2.598-.281l-1.757-1.757C12.568 16.983 12.291 17 12 17c-5.351 0-7.424-3.846-7.926-5 .204-.47.674-1.381 1.508-2.297L4.184 8.305c-1.538 1.667-2.121 3.346-2.132 3.379-.069.205-.069.428 0 .633C2.073 12.383 4.367 19 12 19zM12 5c-1.837 0-3.346.396-4.604.981L3.707 2.293 2.293 3.707l18 18 1.414-1.414-3.319-3.319c2.614-1.951 3.547-4.615 3.561-4.657.069-.205.069-.428 0-.633C21.927 11.617 19.633 5 12 5zM16.972 15.558l-2.28-2.28C14.882 12.888 15 12.459 15 12c0-1.641-1.359-3-3-3-.459 0-.888.118-1.277.309L8.915 7.501C9.796 7.193 10.814 7 12 7c5.351 0 7.424 3.846 7.926 5C19.624 12.692 18.76 14.342 16.972 15.558z"/>
                  </svg>
                </div>
              </div>
            </div>

          </div>
          <div>
            <div class="mb-5 text-gray-600">
              <label class="font-bold mb-1 text-gray-700 block">Rango:</label>
              <div class="text-gray-500 text-xs my-1">Te registrarás en el congreso como:</div>
              <select
                class="w-full px-4 py-3 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium">
                <option>Seleccione..</option>
                <option>Asistente</option>
                <option>Ponente</option>
                <option>Revisor</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-0 left-0 right-0 bg-white shadow-md pb-10">
      <div class="max-w-3xl mx-auto px-4">
        <div class="flex justify-between">
          <div class="w-1/2">
            <button routerLink="/home"
                    class="w-32 focus:outline-none py-2 px-5 rounded-lg shadow-sm text-center text-gray-600 bg-white hover:bg-gray-100 font-medium border"
            >Cancelar
            </button>
          </div>

          <div class="w-1/2 text-right">
            <button
              class="w-32 focus:outline-none border border-transparent py-2 px-5 rounded-lg shadow-sm text-center text-white bg-blue-500 hover:bg-blue-600 font-medium"
            >Enviar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
