<nav class="bg-white shadow-lg">
  <div class="flex items-center justify-between py-2 px-8 px-12">
    <div class="flex justify-between items-center">
      <div class="text-2xl font-bold text-gray-800 md:text-3xl flex">
        <img src="/assets/img/dot-logo.png" alt="" class="w-8 md:w-12">
        <a href="#">SCOC</a>
      </div>
    </div>
    <div class="flex -mx-2">
      <a routerLink="/home"
         class="text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium py-2 px-3 md:mx-2">Inicio</a>
      <a routerLink="/login"
         class="text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium py-2 px-3 md:mx-2">Iniciar sesión</a>
    </div>
  </div>
</nav>
